# {{ ansible_managed }}
DEBUG="{% if 'staging' in group_names %}True{% else %}False{% endif %}"
DATABASE_URL="postgresql:///execut"
SECRET_KEY="{{ secret_execut_website_secretkey }}"
ALLOWED_HOSTS="execut-2021.{{ canonical_hostname }},execut.nl,www.execut.nl,execute.nl,www.execute.nl,2021.execut.nl,2022.execut.nl,execut.dev.svsticky.nl"

AWS_ACCESS_KEY_ID="{{ secret_execut_website_aws.access_key }}"
AWS_SECRET_ACCESS_KEY="{{ secret_execut_website_aws.secret_key }}"
{% if 'staging' in group_names %}
AWS_BUCKET_NAME="execut-django-website-staging"
{% else %}
AWS_BUCKET_NAME="execut-django-website-prod"
{% endif %}
