# {{ ansible_managed }}
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name execut-2021.{{ canonical_hostname }} execut-2022.{{ canonical_hostname }} www.execut.nl execute.nl www.execute.nl;

  ssl_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/chain.pem;

  include includes/block-cert-validation-path.conf;
  add_header Referrer-Policy same-origin;
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
  # Security header file not included because frames

{% if ('production' in group_names) %}
  location / {
    return 302 https://execut.nl$request_uri;
  }
{% else %}
  location / {
    return 302 https://execut.dev.svsticky.nl$request_uri;
  }
{% endif %}
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name execut.nl 2021.execut.nl 2022.execut.nl;

  ssl_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/chain.pem;

  include includes/block-cert-validation-path.conf;
  add_header Referrer-Policy same-origin;
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
  # Security header file not included because frames

  location / {
    proxy_pass http://localhost:6942/;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
  }

  location /static/ {
    alias {{ execut_website_path }}/execut_www/execut_www/static/;
    access_log off;
    expires 365d;
    add_header Cache-Control "public";
  }
}


{% if ('staging' in group_names) %}
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name execut.dev.svsticky.nl;

  ssl_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/chain.pem;

  include includes/block-cert-validation-path.conf;
  add_header Referrer-Policy same-origin;
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
  # Security header file not included because frames

  location / {
    proxy_pass http://localhost:6942/;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
  }

  location /static/ {
    alias {{ execut_website_path }}/execut_www/execut_www/static/;
    access_log off;
    expires 365d;
    add_header Cache-Control "public";
  }
}
{% endif %}
