---
# When defining a secret, define the value as a Jinja2 reference to the same
# variable name, but prefixed with "vault_", and define that key in vault.yml.
# In that way there is an overview of what secrets are used, without everyone
# having to have access to the values.

# Defines our websites. Important to note is that the "name" of a website should
# always be a subdomain of the canonical hostname (using the
# "canonical_hostname" variable). This has to do with the current state of our
# DNS zones, and ensures that TLS certificates are set up correctly in the
# staging environment. This could be improved perhaps.
websites:
  - name: "aas.{{ canonical_hostname }}"
    user: "aas"
    custom_config: true
    alternative_names:
      - "webhooks.{{ canonical_hostname }}"
    state: "present"

  - name: "chroma.{{ canonical_hostname }}"
    user: "chroma"
    authenticated: true
    custom_config: true
    state: "present"
    alternative_names: []
    oauth2_callback_url: "/api/v1/login"

  - name: "voeljeveilig.{{ canonical_hostname }}"
    user: "voeljeveilig"
    authenticated: true
    custom_config: true
    state: "present"
    alternative_names: []
    oauth2_callback_url: "/api/oauth/callback"

  - name: "doorgeefluik.{{ canonical_hostname }}"
    user: "doorgeefluik"
    custom_config: true
    authenticated: true
    alternative_names: []
    state: "present"

  - name: "dies.{{ canonical_hostname }}"
    user: "dies"
    alternative_names: []
    state: "present"

  - name: "dgdarc.{{ canonical_hostname }}"
    custom_config: true
    alternative_names:
      - "dgdarc.nl"
      - "www.dgdarc.nl"
    state: "present"

  - name: "digidecs.{{ canonical_hostname }}"
    custom_config: true
    user: "digidecs"
    alternative_names:
      - "declaraties.{{ canonical_hostname }}"
      - "declareren.{{ canonical_hostname }}"
    # You have to remove the task include of digidecs.yml to remove this
    # completely
    state: "present"

  - name: "indievelopment.{{ canonical_hostname }}"
    user: "indievelopment"
    state: "absent"
    alternative_names:
      - "indievelopment.nl"
      - "www.indievelopment.nl"

  - name: "koala.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "wordlid.{{ canonical_hostname }}"
      - "leden.{{ canonical_hostname }}"
      - "members.{{ canonical_hostname }}"
      - "inschrijven.{{ canonical_hostname }}"
      - "signup.{{ canonical_hostname }}"
      - "join.{{ canonical_hostname }}"
    # You have to remove the task include of koala.yml to remove this completely
    state: "present"

  - name: "metrics.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "status.{{ canonical_hostname }}"
    # You have to remove the task include of monitoring.yml to remove this
    # completely
    state: "present"
    authenticated: true

  - name: "pretix.{{ canonical_hostname }}"
    custom_config: true
    alternative_names:
      - "tickets.{{ canonical_hostname }}"
    state: "present"

  - name: "radio.{{ canonical_hostname }}"
    custom_config: true
    user: "radio"
    alternative_names: []
    state: "present"

  - name: "mongoose.{{ canonical_hostname }}"
    custom_config: true
    user: "mongoose"
    alternative_names: []
    authenticated: true
    oauth2_callback_url: "/oidc/callback/"
    state: "present"

  - name: "savadaba.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "savadaba.nl"
      - "www.savadaba.nl"
    state: "present"

  - name: "static.{{ canonical_hostname }}"
    user: "static-sticky"
    alternative_names: []
    state: "absent"

  - name: "stichting.{{ canonical_hostname }}"
    user: "stichting"
    alternative_names:
      - "stichtingsticky.nl"
      - "www.stichtingsticky.nl"
    state: "absent"

  - name: "studytrip.{{ canonical_hostname }}"
    user: "studytrip"
    alternative_names:
      - "studiereis.{{ canonical_hostname }}"
    state: "present"

  - name: "{{ canonical_hostname }}"
    user: "static-sticky"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "www.{{ canonical_hostname }}"
      - "stickyutrecht.nl"
      - "www.stickyutrecht.nl"
      - "studieverenigingsticky.nl"
      - "www.studieverenigingsticky.nl"
    state: "present"

  - name: "symposium.{{ canonical_hostname }}"
    user: "symposium"
    alternative_names:
      - "idata.{{ canonical_hostname }}"
    state: "absent"

  - name: "wintersport.{{ canonical_hostname }}"
    user: "wintersport"
    alternative_names: []
    custom_config: true
    state: "present"

  - name: "photos.{{ canonical_hostname }}"
    user: "pxl"
    alternative_names:
      - "fotos.{{ canonical_hostname }}"
    authenticated: true
    state: "present"

  - name: "snic-preview.{{ canonical_hostname }}"
    user: "snic"
    alternative_names: []
    state: "present"

  # This site does not contain any private photos, and is limited
  # to stuff to show off pxl. As pxl is an open source project, we'd
  # like to show off a live demo and link it from the README.
  - name: "pxl-demo.{{ canonical_hostname }}"
    user: "pxl"
    alternative_names: []
    state: "present"

  - name: "pxl-docs.{{ canonical_hostname }}"
    user: "pxl"
    alternative_names: []
    state: "present"

  - name: "files.{{ canonical_hostname }}"
    user: "bestuur"
    custom_config: true
    alternative_names: []
    authenticated: true
    state: "present"

  - name: "public.{{ canonical_hostname }}"
    user: "bestuur"
    custom_config: true
    alternative_names: []
    state: "present"

  - name: "intro-cs.{{ canonical_hostname }}"
    user: "commit"
    custom_config: true
    alternative_names:
      - "intro-cs.nl"
    state: "present"

  - name: "hacc.{{ canonical_hostname }}"
    user: "hacc"
    alternative_names: []
    state: "present"

  - name: "compendium.{{ canonical_hostname }}"
    user: "outline"
    alternative_names:
      - "wiki.{{ canonical_hostname }}"
      - "stickypedia.{{ canonical_hostname }}"
      - "stickywiki.{{ canonical_hostname }}"
    custom_config: true
    authenticated: true
    oauth2_callback_url: "/auth/oidc.callback"
    state: "present"

  - name: "goededoelendag.{{ canonical_hostname }}"
    user: "commit"
    alternative_names:
      - "charityday.{{ canonical_hostname }}"
    state: "present"

  - name: "intro.{{ canonical_hostname }}"
    user: "intro-website"
    custom_config: true
    alternative_names: []
    state: "present"

  - name: "harbor.{{ canonical_hostname }}"
    user: "harbor"
    custom_config: true
    alternative_names: []
    state: "present"

  - name: "committeeclash.{{ canonical_hostname }}"
    user: "committeeclash"
    custom_config: true
    alternative_names:
      - "commissiestrijd.{{ canonical_hostname }}"
    state: "present"
    authenticated: true
    oauth2_callback_url: "/api/auth/callback/Koala"

  - name: "docs.committeeclash.{{ canonical_hostname }}"
    user: "committeeclash"
    custom_config: true
    alternative_names:
      - "docs.commissiestrijd.{{ canonical_hostname }}"
    state: "present"

  - name: "rottenspringbok.{{ canonical_hostname }}"
    user: "rotten_springbok"
    custom_config: true
    alternative_names: []
    state: "present"
    authenticated: true
    oauth2_callback_url: "/auth/callback"

  - name: "docuseal.{{ canonical_hostname }}"
    user: "docuseal"
    state: "present"
    custom_config: true
