{
  "server": {
    "port": 65437,
    "domain": "digidecs.{{ canonical_hostname }}"
  },
  "smtp": {
    "from_email": "digidecs@svsticky.nl",
    "from_name": "Sticky Digidecs",
    "smtp_relay": "smtp-relay.gmail.com"
  },
  "treasurer_email": "penningmeester@svsticky.nl"
}