# {{ ansible_managed }}

user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
  worker_connections 768;
  # multi_accept on;
}

http {
 ##
 # Basic Settings
 ##

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  # server_tokens off;

  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  server_names_hash_bucket_size 128;

  charset UTF-8;

  ##
  # Request settings
  ##
  client_max_body_size {{ upload_limit }}m;

  ##
  # SSL Settings
  ##

  # Drop TLS <v1.2, since the cipher suite already breaks compatibility with
  # browsers that don't support it (IE <11, Chrome <30, Fx <27, Safari <7)
  ssl_protocols TLSv1.2;
  ssl_prefer_server_ciphers on;

  # Mozilla's "Modern" cipher suite
  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';

  ssl_dhparam /etc/nginx/dhparams.pem;

  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;

  resolver_timeout 5s;

  ssl_stapling on;
  ssl_stapling_verify on;
  # CA bundle of ISRG Root X1 + Let’s Encrypt Authority X3 (IdenTrust cross-signed)
  ssl_trusted_certificate /etc/ssl/certs/letsencrypt-ocsp-chain.pem;

  ##
  # Other security settings
  ##
  server_tokens off;

  ##
  # Logging Settings
  ##
  access_log off;
  error_log /var/log/nginx/error.log crit;

  ##
  # GZip Settings
  ##
  gzip on;

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
