[Unit]
OnFailure=failure-notificator@%n.service
Description=Deploy Tavern
Requires=backup-postgres.service
After=backup-postgres.service

[Service]
Type=oneshot
User=tavern
Group=tavern
ExecStart=/usr/local/bin/deploy-tavern.sh
