; {{ ansible_managed }}
[PHP]

;;;;;;;;;;;;;;;;;;;;
; Language Options ;
;;;;;;;;;;;;;;;;;;;;

; Enable the PHP scripting language engine under Apache.
; http://php.net/engine
engine = On

; http://php.net/short-open-tag
short_open_tag = Off

; The number of significant digits displayed in floating point numbers.
; http://php.net/precision
precision = 14

; http://php.net/output-buffering
output_buffering = 4096

; http://php.net/zlib.output-compression
zlib.output_compression = Off

; http://php.net/zlib.output-compression-level
;zlib.output_compression_level = -1

; http://php.net/zlib.output-handler
;zlib.output_handler =

; http://php.net/implicit-flush
implicit_flush = Off

unserialize_callback_func =

serialize_precision = 17


; http://php.net/disable-functions
disable_functions = pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wifcontinued,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority,

; http://php.net/disable-classes
disable_classes =

; http://php.net/zend.enable-gc
zend.enable_gc = On

;;;;;;;;;;;;;;;;;
; Miscellaneous ;
;;;;;;;;;;;;;;;;;

; http://php.net/expose-php
expose_php = Off

;;;;;;;;;;;;;;;;;;;
; Resource Limits ;
;;;;;;;;;;;;;;;;;;;

; http://php.net/max-execution-time
max_execution_time = 30

; http://php.net/max-input-time
max_input_time = 60

; http://php.net/memory-limit
memory_limit = 128M

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Error handling and logging ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; http://php.net/display-errors
display_errors = Off

; http://php.net/display-startup-errors
display_startup_errors = Off

; http://php.net/log-errors
log_errors = On

; http://php.net/log-errors-max-len
log_errors_max_len = 1024

; http://php.net/ignore-repeated-errors
ignore_repeated_errors = Off

; http://php.net/ignore-repeated-source
ignore_repeated_source = Off

; http://php.net/report-memleaks
report_memleaks = On

; This setting is on by default.
;report_zend_debug = 0

; http://php.net/track-errors
track_errors = Off

; http://php.net/html-errors
html_errors = On


;;;;;;;;;;;;;;;;;
; Data Handling ;
;;;;;;;;;;;;;;;;;

; http://php.net/variables-order
variables_order = "GPCS"

; http://php.net/request-order
request_order = "GP"

; http://php.net/register-argc-argv
register_argc_argv = Off

; http://php.net/auto-globals-jit
auto_globals_jit = On

; http://php.net/enable-post-data-reading
;enable_post_data_reading = Off

; http://php.net/post-max-size
post_max_size = {{ upload_limit }}M

; http://php.net/auto-prepend-file
auto_prepend_file =

; http://php.net/auto-append-file
auto_append_file =

; http://php.net/default-mimetype
default_mimetype = "text/html"

; http://php.net/default-charset
default_charset = "UTF-8"

;;;;;;;;;;;;;;;;;;;;;;;;;
; Paths and Directories ;
;;;;;;;;;;;;;;;;;;;;;;;;;

; http://php.net/doc-root
doc_root =

; http://php.net/user-dir
user_dir =

; http://php.net/enable-dl
enable_dl = Off

; http://php.net/cgi.force-redirect
;cgi.force_redirect = 1


; http://php.net/fastcgi.impersonate
;fastcgi.impersonate = 1

; http://php.net/cgi.rfc2616-headers
;cgi.rfc2616_headers = 0

;;;;;;;;;;;;;;;;
; File Uploads ;
;;;;;;;;;;;;;;;;

; http://php.net/file-uploads
file_uploads = On

; http://php.net/upload-max-filesize
upload_max_filesize = {{ upload_limit }}M

max_file_uploads = 20

;;;;;;;;;;;;;;;;;;
; Fopen wrappers ;
;;;;;;;;;;;;;;;;;;

; http://php.net/allow-url-fopen
allow_url_fopen = On

; http://php.net/allow-url-include
allow_url_include = Off


; http://php.net/user-agent
;user_agent="PHP"

; http://php.net/default-socket-timeout
default_socket_timeout = 60

;;;;;;;;;;;;;;;;;;;;;;
; Dynamic Extensions ;
;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;
; Module Settings ;
;;;;;;;;;;;;;;;;;;;

[CLI Server]
cli_server.color = On

[Date]
; http://php.net/date.timezone
;date.timezone =

; http://php.net/date.default-latitude
;date.default_latitude = 31.7667

; http://php.net/date.default-longitude
;date.default_longitude = 35.2333

; http://php.net/date.sunrise-zenith
;date.sunrise_zenith = 90.583333

; http://php.net/date.sunset-zenith
;date.sunset_zenith = 90.583333

[filter]
; http://php.net/filter.default
;filter.default = unsafe_raw

; http://php.net/filter.default-flags
;filter.default_flags =

[iconv]

[intl]

[sqlite3]

[Pcre]
; http://php.net/pcre.backtrack-limit
;pcre.backtrack_limit=100000

; http://php.net/pcre.recursion-limit
;pcre.recursion_limit=100000

;pcre.jit=1

[Pdo]
; http://php.net/pdo-odbc.connection-pooling
;pdo_odbc.connection_pooling=strict
;pdo_odbc.db2_instance_name

[Pdo_mysql]
; http://php.net/pdo_mysql.cache_size
pdo_mysql.cache_size = 2000

; http://php.net/pdo_mysql.default-socket
pdo_mysql.default_socket=

[Phar]
; http://php.net/phar.readonly
;phar.readonly = On

; http://php.net/phar.require-hash
;phar.require_hash = On

;phar.cache_list =

[mail function]
SMTP = localhost
smtp_port = 25
mail.add_x_header = On


[SQL]
; http://php.net/sql.safe-mode
sql.safe_mode = Off

[ODBC]
; Allow or prevent persistent links.
; http://php.net/odbc.allow-persistent
odbc.allow_persistent = On

; Check that a connection is still valid before reuse.
; http://php.net/odbc.check-persistent
odbc.check_persistent = On

; Maximum number of persistent links.  -1 means no limit.
; http://php.net/odbc.max-persistent
odbc.max_persistent = -1

; Maximum number of links (persistent + non-persistent).  -1 means no limit.
; http://php.net/odbc.max-links
odbc.max_links = -1

; Handling of LONG fields.  Returns number of bytes to variables.  0 means
; passthru.
; http://php.net/odbc.defaultlrl
odbc.defaultlrl = 4096

; http://php.net/odbc.defaultbinmode
odbc.defaultbinmode = 1

[Interbase]
; Allow or prevent persistent links.
ibase.allow_persistent = 1

; Maximum number of persistent links.  -1 means no limit.
ibase.max_persistent = -1

; Maximum number of links (persistent + non-persistent).  -1 means no limit.
ibase.max_links = -1

; Default timestamp format.
ibase.timestampformat = "%Y-%m-%d %H:%M:%S"

; Default date format.
ibase.dateformat = "%Y-%m-%d"

; Default time format.
ibase.timeformat = "%H:%M:%S"

[MySQLi]

; http://php.net/mysqli.max-persistent
mysqli.max_persistent = -1

; http://php.net/mysqli.allow-persistent
mysqli.allow_persistent = On

; http://php.net/mysqli.max-links
mysqli.max_links = -1

; http://php.net/mysqli.cache_size
mysqli.cache_size = 2000

; http://php.net/mysqli.default-port
mysqli.default_port = 3306

; http://php.net/mysqli.default-socket
mysqli.default_socket =

; http://php.net/mysqli.default-host
mysqli.default_host =

; http://php.net/mysqli.default-user
mysqli.default_user =

; http://php.net/mysqli.default-pw
mysqli.default_pw =

; Allow or prevent reconnect
mysqli.reconnect = Off

[mysqlnd]
; http://php.net/mysqlnd.collect_statistics
mysqlnd.collect_statistics = On

; http://php.net/mysqlnd.collect_memory_statistics
mysqlnd.collect_memory_statistics = Off


[OCI8]

[PostgreSQL]
pgsql.allow_persistent = On
pgsql.auto_reset_persistent = Off
pgsql.max_persistent = -1
pgsql.max_links = -1
pgsql.ignore_notice = 0
pgsql.log_notice = 0

[bcmath]
bcmath.scale = 0

[browscap]
;browscap = extra/browscap.ini

[Session]
session.save_handler = files
; https://wiki.php.net/rfc/strict_sessions
session.use_strict_mode = 0

; http://php.net/session.use-cookies
session.use_cookies = 1

; http://php.net/session.cookie-secure
;session.cookie_secure =

; http://php.net/session.use-only-cookies
session.use_only_cookies = 1

; http://php.net/session.name
session.name = PHPSESSID

; http://php.net/session.auto-start
session.auto_start = 0

; http://php.net/session.cookie-lifetime
session.cookie_lifetime = 0

; http://php.net/session.cookie-path
session.cookie_path = /

; http://php.net/session.cookie-domain
session.cookie_domain =

; http://php.net/session.cookie-httponly
session.cookie_httponly =

; http://php.net/session.serialize-handler
session.serialize_handler = php
; http://php.net/session.gc-probability
session.gc_probability = 1

; http://php.net/session.gc-divisor
session.gc_divisor = 1000

; http://php.net/session.gc-maxlifetime
session.gc_maxlifetime = 1440

; http://php.net/session.referer-check
session.referer_check =

; http://php.net/session.entropy-length
;session.entropy_length = 32

; http://php.net/session.cache-limiter
session.cache_limiter = nocache

; http://php.net/session.cache-expire
session.cache_expire = 180

; http://php.net/session.use-trans-sid
session.use_trans_sid = 0

; http://php.net/session.hash-function
session.hash_function = 0

; http://php.net/session.hash-bits-per-character
session.hash_bits_per_character = 5

; http://php.net/url-rewriter.tags
url_rewriter.tags = "a=href,area=href,frame=src,input=src,form=fakeentry"

[Assertion]
; http://php.net/zend.assertions
zend.assertions = -1

; http://php.net/assert.active
;assert.active = On

; http://php.net/assert.exception
;assert.exception = On

; http://php.net/assert.warning
;assert.warning = On

; http://php.net/assert.bail
;assert.bail = Off

; http://php.net/assert.callback
;assert.callback = 0

; http://php.net/assert.quiet-eval
;assert.quiet_eval = 0

[COM]

[mbstring]

[gd]

[exif]

[Tidy]
; http://php.net/tidy.clean-output
tidy.clean_output = Off

[soap]
; http://php.net/soap.wsdl-cache-enabled
soap.wsdl_cache_enabled=1

; http://php.net/soap.wsdl-cache-dir
soap.wsdl_cache_dir="/tmp"

; http://php.net/soap.wsdl-cache-ttl
soap.wsdl_cache_ttl=86400

soap.wsdl_cache_limit = 5

[sysvshm]
;sysvshm.init_mem = 10000

[ldap]
ldap.max_links = -1

[mcrypt]

[dba]

[opcache]

[curl]

[openssl]
