---
- hosts: "all"
  remote_user: "ansible"
  force_handlers: true

  tasks:
    - name: "ensure koala is running"
      service:
        name: "koala"
        enabled: true
        state: "started"
      become: true
