// {{ ansible_managed }}

Unattended-Upgrade::Allowed-Origins {
{% if unattended_upgrades.security %}
	"${distro_id} ${distro_codename}-security";
{% endif %}
{% if unattended_upgrades.all %}

	"${distro_id} stable";
	"${distro_id} ${distro_codename}-updates";
	"LP-PPA-certbot-certbot:${distro_codename}";
	"yarn:stable";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist { };

// Do automatic removal of new unused dependencies after the upgrade
// (equivalent to apt-get autoremove)
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Automatically reboot *WITHOUT CONFIRMATION*
//  if the file /var/run/reboot-required is found after the upgrade
Unattended-Upgrade::Automatic-Reboot "true";

// If automatic reboot is enabled and needed, reboot at the specific
// time instead of immediately
//  Default: "now"
Unattended-Upgrade::Automatic-Reboot-Time "04:30";
