# {{ ansible_managed }}

[Unit]
Description=mongoose web service
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
User=mongoose
Group=mongoose
WorkingDirectory=/var/www/mongoose/undead-mongoose
ExecStartPre=uv run manage.py collectstatic --clear --no-input
ExecStart=uv run gunicorn undead_mongoose.wsgi \
                      --name mongoose --workers 2 \
                      --max-requests 1200 --max-requests-jitter 50 \
                      --log-level=info --bind=127.0.0.1:8352
Restart=on-failure
EnvironmentFile=/var/www/mongoose/undead-mongoose/.env

[Install]
WantedBy=multi-user.target
