# {{ ansible_managed }}

[Service]
ExecStartPre=/usr/bin/certbot renew --quiet --agree-tos
ExecStart=/bin/sh -c "echo \"*Renewal check of certificates completed* _($(date\
+'%%F %%T %%:z'))_\" | /usr/local/bin/slacktee --plain-text --username 'Certbot\
service' --icon ':lock_with_ink_pen:' --attachment 'good'"
