# {{ ansible_managed }}

[default]
aws_access_key_id = {{ secret_backup_aws.access_key }}
aws_secret_access_key = {{ secret_backup_aws.secret_key }}

output = text
region = {{ aws_region }}
payload_signing_enabled = true
