# {{ ansible_managed }}

[default]
aws_access_key_id = {{ lookup('password', 'credentials/aws/backup_access_key') }}
aws_secret_access_key = {{ lookup('password', 'credentials/aws/backup_secret_key') }}

output = text
region = eur-west-1
