<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretix Maintenance</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            text-align: center;
            padding: 50px;

        }
        header {
            margin-bottom: 50px;
        }
        img.banner {
            max-width: 600px;
            height: auto;
        }
        h1 {
            color: #333;
            font-size: 2.5em;
            margin-top: 30px;
        }
        p {
            color: #666;
            font-size: 1.2em;
        }
    </style>
</head>
<body>

    <header>
        <img class="banner" src="https://public.svsticky.nl/logos/logo_outline_kleur.svg" alt="Logo">
    </header>

    <h1>Pretix is currently under maintenance</h1>
    <p>Purchasing tickets is currently not possible.</p>
    <p>Het kopen van tickets is op dit moment niet mogelijk.</p>
</body>
</html>