-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACA54bCX2pUZMgBzS0hLLO6/0nMz/X6Y8OZbK5eWzBas6gAAAJDySsJ98krC
fQAAAAtzc2gtZWQyNTUxOQAAACA54bCX2pUZMgBzS0hLLO6/0nMz/X6Y8OZbK5eWzBas6g
AAAED0NnB3QoAJIZUThKKFJ4AzvkyKK3BKvk6NM+Mb+/fCFznhsJfalRkyAHNLSEss7r/S
czP9fpjw5lsrl5bMFqzqAAAAC2R1aWpmQGF4aW9tAQI=
-----END OPENSSH PRIVATE KEY-----

# {{ ansible_managed }}
