# {{ ansible_managed }}

{% set website = websites | selectattr('name', 'equalto', 'voeljeveilig.' ~ canonical_hostname) | first %}
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ website.name }}{% for hostname in website.alternative_names %} {{ hostname }}{% endfor %};

  ssl_certificate /etc/letsencrypt/live/{{ website.name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ website.name }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ website.name }}/chain.pem;

  include includes/security-headers.conf;

  location /api {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_intercept_errors on;
    proxy_pass http://localhost:65436;
  }

  location / {
    index index.html;
    root /var/www/fallacious-rooster/frontend;
  }
}