<?php
// {{ ansible_managed }}

// Define basic constants
define('BASE_DIR', '/var/www/commit/digidecs.{{ canonical_hostname }}/');
define('TEMPLATES_DIR', BASE_DIR . 'templates/');

// Define email constants
define('EMAIL_TO_ADDRESS', 'penningmeester@{{ canonical_hostname }}');
define('EMAIL_TO_NAME', 'Penningmeester Sticky');
define('EMAIL_SUBJECT_BASE', '[DigiDecs] Nieuwe declaratie: ');
define('EMAIL_FIRST_NAME', 'Robert');

// Mailgun settings
define('EMAIL_API_KEY', '{{ secret_mailgun_token }}');
define('EMAIL_DOMAIN', '{{ canonical_hostname }}');

// Define upload restrictions
define('FILE_MAX_FILESIZE', {{ 20 * 2**20|int }});
$allowed_filetypes  =
        array(
                'jpg' => 'image/jpeg',
                'png' => 'image/png',
                'pdf' => 'application/pdf',
        );

?>
