---
- name: "enable NOPASSWD for sudo group"
  lineinfile:
    dest: "/etc/sudoers.d/ansible"
    line: "%sudo ALL=(ALL:ALL) NOPASSWD:ALL"
    state: present
    create: yes
    validate: "visudo -cf %s"

- name: "copy deploy keys"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
    owner: ansible
    group: ansible
    mode: 0600
  with_items:
    - home/ansible/.ssh/deploy_ed25519
    - home/ansible/.ssh/deploy_ed25519.pub

- name: "disable root login using password over ssh"
  lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "^PermitRootLogin "
    line: "PermitRootLogin no"
    state: present
  notify: restart ssh

- name: "disable password authentication over ssh"
  lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "^PasswordAuthentication "
    line: "PasswordAuthentication no"
    state: present
  notify: restart ssh

- name: "remove public keys for root account"
  file:
    path: /root/.ssh/authorized_keys
    state: absent

- name: "add sftp jail for committee users"
  blockinfile:
    dest: "/etc/ssh/sshd_config"
    state: present
    block: |
      Subsystem committee internal-sftp

      Match Group committee
        ChrootDirectory %h
        ForceCommand internal-sftp
        AllowTcpForwarding no
  notify: restart ssh
