---
- name: "enable NOPASSWD for sudo group"
  lineinfile:
    dest: "/etc/sudoers.d/ansible"
    line: "%sudo ALL=(ALL:ALL) NOPASSWD:ALL"
    state: "present"
    create: true
    validate: "visudo -cf %s"

- name: "copy deploy keys"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
    owner: "ansible"
    group: "ansible"
    mode: "0600"
  with_items:
    - "home/ansible/.ssh/deploy_ed25519"
    - "home/ansible/.ssh/deploy_ed25519.pub"

- name: "remove public keys for root account"
  file:
    path: "/root/.ssh/authorized_keys"
    state: "absent"

- name: "copy hardened sshd configuration"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
  with_items:
    - etc/ssh/sshd_config
  notify: "reboot server"
