---
- name: "install system-wide known hostkeys"
  template:
    src: "templates/etc/ssh/ssh_known_hosts"
    dest: "/etc/ssh/ssh_known_hosts"
    owner: "root"
    group: "root"
    mode: "0644"

- name: "set NOPASSWD for sudo group in staging"
  lineinfile:
    dest: "/etc/sudoers.d/ansible"
    line: "%sudo ALL=(ALL:ALL) NOPASSWD:ALL"
    state: "{% if staging == 'true' %}present{% else %}absent{% endif %}"
    create: true
    validate: "visudo -cf %s"

- name: "copy deploy key (private)"
  copy:
    content: "{{ secret_deploy_key }}"
    dest: "/home/ansible/.ssh/deploy_ed25519"
    owner: "ansible"
    group: "ansible"
    mode: "0600"

- name: "copy deploy key (public)"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
    owner: "ansible"
    group: "ansible"
    mode: "0600"
  with_items:
    - "home/ansible/.ssh/deploy_ed25519.pub"

- name: "symlink deploy keys for root"
  file:
    src: "/home/ansible/.ssh/{{ item.src }}"
    path: "/root/.ssh/{{ item.dest }}"
    state: link
  with_items:
    - { src: "deploy_ed25519", dest: "id_ed25519" }
    - { src: "deploy_ed25519.pub", dest: "id_ed25519.pub" }

- name: "remove public keys for root account"
  file:
    path: "/root/.ssh/authorized_keys"
    state: "absent"

- name: "copy hardened sshd configuration"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
  with_items: "etc/ssh/sshd_config"
  notify: "reboot server"
