---
- block:
  - name: "install aws cli tool"
    apt:
      pkg: "awscli"
      state: "present"

  - name: "ensure aws cli configuration folders are present"
    file:
      path: "{{ item.path }}/.aws"
      owner: "{{ item.owner }}"
      group: "{{ item.owner }}"
      state: "directory"
    with_items:
      - { path: "/home/ansible", owner: "ansible" }
      - { path: "/root", owner: "root" }

  - name: "ensure aws cli configuration is present"
    template:
      src: "templates/home/ansible/.aws/config.j2"
      dest: "/home/ansible/.aws/config"
    become: false

  - name: "ensure aws cli configuration is linked for root user"
    file:
      src: "/home/ansible/.aws/config"
      path: "/root/.aws/config"
      state: "link"

  - name: "ensure aws cli scripts are present, with correct permissions"
    template:
      src: "templates/{{ item.path }}.j2"
      dest: "/{{ item.path }}"
      mode: "{{ item.mode }}"
    with_items:
      - { path: "usr/local/bin/backup-to-s3.sh", mode: "0755" }
      - { path: "usr/local/bin/backup-to-s3-credentials.sh", mode: "0600" }

  - name: "ensure backup services and timers are present"
    template:
      src: "templates/etc/systemd/system/{{ item }}.j2"
      dest: "/etc/systemd/system/{{ item }}"
    with_items:
      - "backup-admins.service"
      - "backup-admins.timer"
      - "backup-databases.service"
      - "backup-databases.timer"
      - "backup-websites.service"
      - "backup-websites.timer"
      - "backup-fail@.service"
    notify:
      - "systemctl daemon-reload"

  - name: "start and enable backup timers in production"
    service:
      name: "{{ item }}"
      enabled: "{% if staging %}false{% else %}true{% endif %}"
      state: "{% if staging %}stopped{% else %}started{% endif %}"
    with_items:
      - "backup-admins.timer"
      - "backup-databases.timer"
      - "backup-websites.timer"

  tags: "backups"
