---
- name: "install aws cli tool"
  apt:
    pkg: awscli
    state: present

- name: "ensure aws cli configuration folders are present"
  file:
    path: "{{ item.path }}/.aws"
    owner: "{{ item.owner }}"
    group: "{{ item.owner }}"
    state: directory
  with_items:
    - { path: '/home/ansible', owner: 'ansible' }
    - { path: '/root', owner: 'root' }

- name: "ensure aws cli configuration is present"
  template:
    src: "templates/home/ansible/.aws/config.j2"
    dest: "/home/ansible/.aws/config"
    owner: ansible
    group: ansible

- name: "ensure aws cli configuration is linked for root user"
  file:
    src: "/home/ansible/.aws/config"
    path: "/root/.aws/config"
    state: link

- name: "ensure aws cli scripts are present and executable"
  template:
    src: "templates/{{ item }}.j2"
    dest: "/{{ item }}"
    mode: a+x
  with_items:
    - usr/local/bin/backup-admins.sh
    - usr/local/bin/backup-db.sh
    - usr/local/bin/backup-websites.sh

- name: "ensure backup services and timers are present"
  template:
    src: "templates/etc/systemd/system/{{ item }}.j2"
    dest: "/etc/systemd/system/{{ item }}"
  with_items:
    - backup-admins.service
    - backup-admins.timer
    - backup-db.service
    - backup-db.timer
    - backup-websites.service
    - backup-websites.timer
  notify:
    - systemctl daemon-reload

- name: "start and enable backup timers"
  service:
    name: "{{ item }}"
    enabled: yes
    state: started
  with_items:
    - backup-admins.timer
    - backup-db.timer
    - backup-websites.timer
