---
# Contains all koala-specific tasks
- block:
  - name: "ensure koala system user exists"
    user:
      name: koala
      state: present
      system: yes
      shell: /bin/bash
    tags:
      - ruby
      - koala

  - name: "ensure koala database user exists"
    mysql_user:
      name: koala
      password: "{{ lookup('password', 'credentials/mysql/koala length=64 chars=hexdigits') }}"
      host: localhost
      priv: koala.*:ALL/koala-development.*:ALL
    tags:
      - database
      - koala

  - name: "ensure clone location exists and is owned by koala"
    file:
      path: /var/www/koala.{{ canonical_hostname }}
      state: directory
      owner: koala
      group: koala
      recurse: yes
    tags:
      - koala

  - name: "ensure ruby compilation dependencies are installed"
    apt:
      name: "{{item}}"
      state: present
    with_items:
      - autoconf
      - bison
      - build-essential
      - libssl-dev
      - libyaml-dev
      - libreadline-dev
      - libncurses5-dev
      - libffi-dev
      - libgdbm3
      - libgdbm-dev
      - nodejs
      - zlib1g-dev
      - imagemagick
      - libmariadb-client-lgpl-dev-compat
      - acl
      - git
    tags:
      - packages
      - ruby
      - koala

  - name: "ensure koala service file is present"
    template:
      src: templates/etc/systemd/system/koala.service.j2
      dest: /etc/systemd/system/koala.service
    notify:
      - systemctl daemon-reload

  become: yes


# As koala:
- block:
  - name: "ensure rbenv is installed"
    git:
      repo: https://github.com/rbenv/rbenv.git
      dest: ~/.rbenv
    tags:
      - ruby
      - koala

  - name: "ensure rbenv plugins are installed"
    git:
      repo: "{{item.url}}"
      dest: ~/.rbenv/plugins/{{item.name}}
    with_items:
      - { name: "ruby-build", url: "https://github.com/rbenv/ruby-build.git" }
      - { name: "rbenv-vars", url: "https://github.com/rbenv/rbenv-vars.git" }
      # NOTE: This will install the latest development versions, should we pin
      # a tag/commit/release?
    tags:
      - ruby
      - koala

  - name: "ensure .bashrc is present"
    template:
      src: templates/home/koala/.bashrc
      dest: "/home/koala/.bashrc"
      owner: koala
      group: koala
    tags:
      - koala
      - ruby

  - name: "ensure ruby is installed, compile if necessary"
    environment:
      PATH: "/home/koala/.rbenv/bin:{{ ansible_env.PATH }}"
    shell: eval "$(rbenv init - )"; rbenv install {{ koala.ruby_version }}
    args:
      executable: /bin/bash
      creates: /home/koala/.rbenv/versions/{{ koala.ruby_version }}
    tags:
      - ruby
      - koala

  - name: "ensure bundler is installed"
    environment:
      PATH: "/home/koala/.rbenv/bin:{{ ansible_env.PATH }}"
    shell: eval "$(rbenv init -)"; rbenv shell {{ koala.ruby_version }}; gem install bundler
    args:
      executable: /bin/bash
      chdir: /var/www/koala.{{ canonical_hostname }}
      creates: /home/koala/.rbenv/versions/2.3.0/lib/ruby/gems/{{ koala.ruby_version }}/gems/bundler-1.12.5
    tags:
      - ruby
      - koala

  - name: "ensure koala has a ssh directory"
    file:
      path: ~/.ssh
      state: directory
    tags:
      - koala

  - name: "ensure github's ssh key is known"
    shell: ssh-keyscan -H github.com >> ~/.ssh/known_hosts
    args:
      creates: ~/.ssh/known_hosts

  - name: "copy deploy keys for user koala"
    copy:
      src: "files/home/ansible/.ssh/{{ item.from }}"
      dest: "/home/koala/.ssh/{{ item.to }}"
      owner: koala
      group: koala
      mode: 0600
    with_items:
      - { from: "deploy_ed25519",     to: "id_ed25519" }
      - { from: "deploy_ed25519.pub", to: "id_ed25519.pub" }

  - name: "clone koala to /var/www/koala.{{ canonical_hostname }}"
    git:
      repo: "git@github.com:svsticky/constipated-koala.git"
      dest: /var/www/koala.{{ canonical_hostname }}
      version: "{{ koala.git_ref }}"
    tags:
      - koala

  - name: "ensure .rbenv-vars is present"
    template:
      src: templates/var/www/koala/.rbenv-vars
      dest: /var/www/koala.{{ canonical_hostname }}/.rbenv-vars
      owner: koala
      group: koala
      mode: 0700
    tags:
      - koala

  - name: "ensure gem dependencies are installed"
    environment:
      PATH: "/home/koala/.rbenv/bin:{{ ansible_env.PATH }}"
    shell: eval "$(rbenv init - )"; bundle install
    args:
      chdir: /var/www/koala.{{ canonical_hostname }}
    register: koala_gem_result
    changed_when: koala_gem_result.stdout.find("Installing") != -1
    tags:
      - koala

  - name: "ensure tmp directories exist"
    environment:
      PATH: "/home/koala/.rbenv/bin:{{ ansible_env.PATH }}"
    shell: eval "$(rbenv init - )"; rake tmp:create
    args:
      chdir: /var/www/koala.{{ canonical_hostname }}
    tags:
      - koala

  - name: "ensure log directory exists"
    file:
      dest: /var/www/koala.{{ canonical_hostname }}/log
      state: directory
      owner: koala
      group: koala
      mode: 0774
    tags:
      - koala

  become: yes
  become_user: koala

- block:
  - name: "ensure webrick script is present in development"
    copy:
      src: templates/home/koala/webrick.sh
      dest: /home/koala/webrick.sh
      mode: 0755
      owner: koala
      group: koala

  when: koala.server == "webrick"
  tags:
    - koala

- block:
  - name: "ensure unicorn script is present in production"
    template:
      src: templates/home/koala/unicorn.sh.j2
      dest: /home/koala/unicorn.sh
      mode: 0755
      owner: koala
      group: koala

  - name: "place koala's nginx configuration"
    template:
      src: templates/etc/nginx/sites-available/koala.j2
      dest: /etc/nginx/sites-available/koala.{{ canonical_hostname }}.conf
      owner: root
      group: root

  - name: "enable koala's nginx config"
    file:
      src: /etc/nginx/sites-available/koala.{{ canonical_hostname }}.conf
      dest: /etc/nginx/sites-enabled/koala.{{ canonical_hostname }}.conf
      state: link
      owner: root
      group: root
    notify: reload nginx

  when: koala.server == "unicorn"
  tags:
    - koala
