---
- name: "install netdata build dependencies"
  apt:
    name: "{{ item }}"
    state: "present"
  with_items:
    - "zlib1g-dev"
    - "uuid-dev"
    - "libmnl-dev"
    - "gcc"
    - "make"
    - "git"
    - "autoconf"
    - "autoconf-archive"
    - "autogen"
    - "automake"
    - "pkg-config"
    - "curl"
  tags:
    - "monitoring"
    - "packages"

- name: "clone the netdata git repository"
  git:
    accept_hostkey: true
    repo: "https://github.com/firehol/netdata.git"
    dest: "/usr/local/src/netdata"
    update: true
  tags:
    - "monitoring"
    - "packages"

- name: "build and install netdata"
  command: "/usr/local/src/netdata/netdata-installer.sh --dont-wait"
  args:
    chdir: "/usr/local/src/netdata"
    creates: "/usr/sbin/netdata"
  tags:
    - "monitoring"
    - "packages"

- name: "copy nginx files for metrics site"
  template:
    src: "templates/{{ item }}.svsticky.nl.conf.j2"
    dest: "/{{ item }}.{{ canonical_hostname }}.conf"
  with_items:
    - "etc/nginx/sites-available/metrics"
    - "etc/nginx/htpasswd.d/metrics"
  tags:
    - "monitoring"
    - "nginx"
  notify: "reload nginx"

- name: "enable nginx proxy config for metrics site"
  file:
    src: "/etc/nginx/sites-available/metrics.{{ canonical_hostname }}.conf"
    dest: "/etc/nginx/sites-enabled/metrics.{{ canonical_hostname }}.conf"
    state: "link"
  tags:
    - "monitoring"
    - "nginx"
  notify: "reload nginx"
