---

# TODO: voor een VHOSt
# * hostnames
# * certificaat (op basis van hostname)
# * webroot op basis van hostname + (mogelijk user) (moet nog gecheckt worden)
# * php ja of nee.

- name: "install nginx"
  apt:
    name: nginx
    state: present

- name: "start and enable nginx"
  service:
    name: nginx
    state: started
    enabled: yes

- name: "copy dhparams"
  copy:
    src: "files/{{ item }}"
    dest: "/{{ item }}"
    owner: root
    group: root
  with_items:
    - etc/nginx/dhparams.pem

- name: "copy nginx configuration"
  template:
    src: "{{ item }}.j2"
    dest: "/{{ item }}"
  with_items:
    - etc/nginx/nginx.conf
  notify: reload nginx

- name: "disable default nginx website"
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
    follow: yes
  notify: reload nginx

# TODO: Make this template based

- name: "create website directories"
  file:
    path: "/var/www/{{item.value.user}}/{{item.value.hostnames[0]}}"
    owner: "{{item.value.user}}"
    group: sudo
    mode: 0755
    state: directory
  with_dict: "{{ websites }}"


- name: "copy website nginx configuraitons"
  template:
    src: "etc/nginx/sites-available/website.conf.j2"
    dest: "/etc/nginx/sites-available/{{item.value.hostnames[0]}}.conf"
  with_dict: "{{ websites }}"


- name: "enable website nginx configurations"
  file:
    src: "/etc/nginx/sites-available/{{item.value.hostnames[0]}}.conf"
    dest: "/etc/nginx/sites-enabled/{{item.value.hostnames[0]}}.conf"
    state: link
  with_dict: "{{ websites }}"
  notify: reload nginx

