---
- name: "install phpmyadmin dependencies"
  apt:
    name:
      - "php7.2-zip"
      - "php7.2-xml"
      - "php7.2-mbstring"
      - "php7.2-mysqli"
      - "composer"
    state: "present"

- name: "clone phpmyadmin repository"
  git:
    repo: "https://github.com/phpmyadmin/phpmyadmin.git"
    dest: "/var/www/phpmyadmin.{{ canonical_hostname }}"
    depth: 1
    force: true
    version: "STABLE"
  diff: false

- name: "place phpmyadmin config.inc.php"
  template:
    src: "templates/var/www/phpmyadmin/{{ filename }}.j2"
    dest: "/var/www/phpmyadmin.{{ canonical_hostname }}/{{ filename }}"
  vars:
    filename: "config.inc.php"

- name: "install phpmyadmin composer dependencies"
  composer:
    working_dir: "/var/www/phpmyadmin.{{ canonical_hostname }}"
    no_dev: true
    command: "update"

- name: "set permissions on phpmyadmin webroot"
  file:
    path: "/var/www/phpmyadmin.{{ canonical_hostname }}"
    recurse: true
    owner: "www-data"
    group: "www-data"
    state: "directory"

- name: "create default tables in phpmyadmin database"
  command:
    "mysql -NBe 'source /var/www/phpmyadmin.{{ canonical_hostname
    }}/sql/create_tables.sql;'"

- name: "place phpmyadmin nginx config"
  template:
    src: "templates/etc/nginx/sites-available/phpmyadmin.conf.j2"
    dest: "/etc/nginx/sites-available/phpmyadmin.{{ canonical_hostname }}.conf"
  notify: "reload nginx"

- name: "symlink phpmyadmin nginx config"
  file:
    src: "/etc/nginx/sites-available/{{ filename }}"
    path: "/etc/nginx/sites-enabled/{{ filename }}"
    state: link
  vars:
    filename: "phpmyadmin.{{ canonical_hostname }}.conf"
  notify: "reload nginx"
