---
- name: "remove help text from motd"
  file:
    path: "/etc/update-motd.d/{{ item }}"
    state: "absent"
  with_items:
    - "10-help-text"
    - "51-cloudguest"

# This tool outputs our beautiful hostname header.
- name: "install toilet"
  apt:
    name: "toilet"
    update_cache: true
    state: "present"

- name: "copy motd templates"
  template:
    src: "templates/etc/update-motd.d/{{ item }}.j2"
    dest: "/etc/update-motd.d/{{ item }}"
    mode: "0755"
  with_items:
    - "01-{{ server_hostname }}-header"
    - "02-playbook-revision"

# In staging we just use the name that is set when creating our VPS.
- name: "set custom hostname, in production"
  hostname:
    name: "{{ server_hostname }}"
  when: "'staging' not in group_names"

# In staging we just use the name that is set when creating our VPS.
- name: "update hostname in /etc/hosts, in production"
  lineinfile:
    regexp: "^127.0.1.1"
    line:
      "127.0.1.1 {{ server_hostname }}.{{ canonical_hostname }}
      {{ server_hostname }}"
    path: "/etc/hosts"
    state: "present"
  when: "'staging' not in group_names"

- name: "copy locale variables"
  template:
    src: "templates/{{ path }}.j2"
    dest: "/{{ path }}"
    mode: "o+r"
  vars:
    path: "etc/default/locale"

- name: "copy failure handler for systemd units"
  template:
    src: "templates/etc/systemd/system/failure-notificator@.service.j2"
    dest: "/etc/systemd/system/failure-notificator@.service"
    mode: "o+r"
  notify: "systemctl daemon-reload"
