---
- name: "create committee group"
  group:
    name: "committee"
    state: "present"

- name: "create /var/www"
  file:
    path: "/var/www"
    state: "directory"

- name: "create users"
  user:
    name: "{{ item.name }}"
    groups: "{%if item.admin %}sudo,adm{% else %}committee{% endif %}"
    state: "{{ item.state }}"
    home: "{{ item.home_prefix }}/{{ item.name }}"
    move_home: true
  with_items:
    - "{{ users }}"

- name: "require the admin user to immediately choose a new password"
  command: "passwd -de {{ item.name }}"
  when: item.admin and item.name != "ansible"
  with_items:
    - "{{ users }}"

- name: "set shell for admins"
  user:
    name: "{{ item.name }}"
    shell: "/bin/bash"
    state: "{{ item.state }}"
  when: item.admin == true and item.state == 'present'
  with_items:
    - "{{ users }}"

- name: "add environment to bash prompt"
  lineinfile:
    dest: "/home/{{ item.name }}/.bashrc"
    regexp: "^export PS1="
    line: "export PS1='\\n\\e[31m\\e[1m{% if staging %}STAGING{% else %}!! PRODUCTION !!{% endif %}\\e[0m \\e[33m\\e[1m`whoami`@`hostname --long`\\e[0m:`pwd`\\n$ '"
  when: item.admin == true and item.state == 'present'
  with_items:
    - "{{ users }}"

- name: "fix permissions for chroot of committee users"
  file:
    path: "/var/www/{{ item.name }}"
    owner: "root"
    state: "directory"
  when: item.admin != true and item.state == 'present'
  with_items:
    - "{{ users }}"

- name: "ensure .ssh-directory is present"
  file:
    dest: "{{ item.0.home_prefix }}/{{ item.0.name }}/.ssh"
    state: "directory"
    owner: "{{ item.0.name }}"
    mode: "0755"
  when: item.0.state == 'present'
  with_subelements:
    - "{{ users }}"
    - "keys"

- name: "ensure SSH keys for users are present"
  blockinfile:
    path: "{{ item.0.home_prefix }}/{{ item.0.name }}/.ssh/authorized_keys"
    block: "{{ lookup('file', 'credentials/ssh/' + item.1.id) }}"
    state: "{{ item.1.state }}"
    marker:  "# {mark} SSH key for {{ item.1.id }}"
    create: yes
  # Only run the above logic when we still want the user to exist.
  when: item.0.state == 'present'
  with_subelements:
    - "{{ users }}"
    - "keys"
