# {{ ansible_managed }}

[Unit]
Description=Weekly mail to remind members of their outstanding payments.

[Timer]
OnCalendar=Fri 13:15:00 CET
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
