# {{ ansible_managed }}

[Unit]
Description=Clean unconfirmed emails and reset tokens from Constipated Koala's\
db
OnFailure=failure-notificator@%n.service

[Service]
Type=simple
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStart=/nix/var/nix/profiles/default/bin/nix-shell --command "rails RAILS_ENV={{ koala_env.environment }}\
devise:clean_unconfirmed_emails devise:clean_reset_tokens"

{{ lookup('template', 'healthcheck.conf.j2') }}
