# {{ ansible_managed }}

[Unit]
Description=Run the aas webhook listener using gunicorn
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
Type=simple
User=aas
Group=www-data
Restart=always

WorkingDirectory=/var/www/aas/aas.{{ canonical_hostname }}

RuntimeDirectory=aas
RuntimeDirectoryMode=0770

EnvironmentFile=/var/www/aas/aas.{{ canonical_hostname }}/.env

ExecStart=/var/www/aas/aas.{{ canonical_hostname }}/.venv/bin/gunicorn \
  --workers 4 --bind unix:/run/aas/gunicorn.sock aas:aas

[Install]
WantedBy=multi-user.target
