# {{ ansible_managed }}

[Unit]
Description=Run the aas webhook listener using gunicorn
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
Type=simple
User=aas
Group=www-data
Restart=always

WorkingDirectory=/usr/local/src/aas

RuntimeDirectory=aas
RuntimeDirectoryMode=0750

ExecStart=/usr/local/bin/pipenv run gunicorn \
                                      --workers 4 \
                                      --umask 007 \
                                      --bind unix:/run/aas/gunicorn.sock aas:aas

[Install]
WantedBy=multi-user.target
