# {{ ansible_managed }}

[Unit]
Description=Run aas server (webhook listener)
# OnFailure=TODO

[Service]
Type=simple
User=commit
Group=commit
PrivateTmp=true
ExecStart=/var/www/aas/{{ canonical_hostname }}/.venv/bin/python \
    /var/www/aas/{{ canonical_hostname }}/main.py
