# {{ ansible_managed }}

[Unit]
Description=Backup of the contents of the admins' home directories to AWS S3
OnFailure=backup-fail@the\x20admins\x27\x20home\x20directories.service

[Service]
Type=simple
User=root
Group=root
PrivateTmp=true
ExecStart=/usr/local/bin/backup-to-s3.sh admins
