# {{ ansible_managed }}

[Unit]
Description=Backup of the contents of all websites to AWS S3
OnFailure=backup-fail@the\x20contents\x20of\x20all\x20websites.service

[Service]
Type=simple
User=root
Group=root
PrivateTmp=true
ExecStartPre=/usr/local/bin/backup-websites.sh
ExecStart=/bin/sh -c "echo \"*Backup of all websites completed* _($(date +'%F %T %:z'))_\" | /usr/local/bin/slacktee --plain-text --username 'Backup service' --icon ':floppy_disk:' --attachment 'good'"
