# {{ ansible_managed }}

[Unit]
Description=Backup of the contents of all websites to AWS S3

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=~
ExecStart=/usr/local/bin/backup-websites.sh
PrivateTmp=true
