# {{ ansible_managed }}

[Unit]
Description=Backup of all MariaDB databases to AWS S3
OnFailure=backup-fail@all\x20MariaDB\x20databases.service

[Service]
Type=simple
User=root
Group=root
PrivateTmp=true
ExecStartPre=/usr/local/bin/backup-to-s3.sh databases
ExecStart=/bin/sh -c "echo \"*{% if staging %}_FROM STAGING:_ {% endif %}Backup of MariaDB databases completed* _($(date +'%F %T %:z'))_\" | /usr/local/bin/slacktee --plain-text --username 'Backup service' --icon ':floppy_disk:' --attachment 'good'"
