# {{ ansible_managed }}

[Unit]
Description=Deploy static-sticky
OnFailure=failure-notificator@%n.service

[Service]
Type=oneshot
User=static-sticky
Group=static-sticky
ExecStart=/usr/local/bin/deploy-static-sticky.sh
