# {{ ansible_managed }}

[Unit]
Description=execut web service
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
User=symposium
Group=symposium
Environment="VIRTUAL_ENV={{ execut_website_path }}/venv"
Environment="PATH={{ execut_website_path }}/venv/bin:/usr/local/bin:/usr/bin:/bin"
EnvironmentFile={{ execut_website_path }}/execut_www.env
ExecStart={{ execut_website_path }}/venv/bin/gunicorn execut_www.wsgi \
                      --name execut-django-website --workers 2 \
                      --max-requests 1200 --max-requests-jitter 50 \
                      --log-level=info --bind=127.0.0.1:6942
WorkingDirectory={{ execut_website_path }}/execut_www
Restart=on-failure

[Install]
WantedBy=multi-user.target
