# {{ ansible_managed }}

[Unit]
Description=Failure notification of %i

[Service]
Type=oneshot
User=root
Group=root
{% if 'staging' in group_names %}
ExecStart=/bin/sh -c "echo \"*_FROM STAGING:_ Unit \`%i\` FAILED!*\
_($(date +'%%F %%T %%:z'))_\" | \
  /usr/local/bin/slacktee \
  --plain-text \
  --username 'sadserver-dev' \
  --icon ':exclamation:' \
  --attachment 'danger'"
{% else %}
ExecStart=/bin/sh -c "echo \"@it-crowd-commissie *Unit \`%i\` FAILED!*\
_($(date +'%%F %%T %%:z'))_\" | \
  /usr/local/bin/slacktee \
  --plain-text \
  --username 'sadserver' \
  --icon ':exclamation:' \
  --attachment 'danger'"
{% endif %}
