# {{ ansible_managed }}

[Unit]
Description=Run the gollum wiki
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
Type=simple
User=wiki
Group=www-data
Restart=always

WorkingDirectory=/var/www/wiki/wiki.{{ canonical_hostname }}

RuntimeDirectory=wiki
RuntimeDirectoryMode=0770

ExecStart=gollum

[Install]
WantedBy=multi-user.target
