# {{ ansible_managed }}

[Unit]
Description=Nightly check for creation of new study year for Constipated Koala

[Timer]
OnCalendar=*-*-* 01:00 UTC
RandomizedDelaySec=10800
Persistent=true

[Install]
WantedBy=timers.target
