# {{ ansible_managed }}

[Unit]
Description=Reindex fuzzy search index annually for Constipated Koala

[Timer]
OnCalendar=*-*-17 01:00 UTC
RandomizedDelaySec=10800
Persistent=true

[Install]
WantedBy=timers.target
