# {{ ansible_managed }}

[Unit]
Description=Clean unconfirmed emails and reset tokens weekly from Constipated\
Koala's db

[Timer]
OnCalendar=Sat *-*-* 01:00 UTC
RandomizedDelaySec=10800
Persistent=true

[Install]
WantedBy=timers.target
