# {{ ansible_managed }}

[Unit]
Description=Yearly mail to asks members if they are still enrolled to the university
OnFailure=failure-notificator@%n.service

[Service]
Type=oneshot
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStartPre=/home/koala/.rbenv/shims/rails RAILS_ENV={{ koala_env.environment }}\
status:mail
ExecStart=/bin/sh -c "echo \"*Koala service \'Sent mails to request member info updates\'\
completed* _($(date +'%%F %%T %%:z'))_\" | /usr/local/bin/slacktee\
--plain-text --username 'Koala service' --icon '::' --attachment 'good'"
