# {{ ansible_managed }}

[Unit]
Description=Check for creation of new study year for Constipated Koala
OnFailure=koala-rake-fail@Check\x20for\x20creation\x20of\x20new\x20study\x20year.service

[Service]
Type=simple
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStart=/home/koala/.rbenv/shims/rails RAILS_ENV={{ koala_env.environment }}\
admin:start_year

# No notification to Slack on success, because this has to run every night
