# {{ ansible_managed }}

[Unit]
Description=Reindex fuzzy search index for Constipated Koala
OnFailure=koala-rake-fail@Reindex\x20fuzzy\x20search\x20index.service

[Service]
Type=simple
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStartPre=/home/koala/.rbenv/shims/bundle exec rails RAILS_ENV={{ koala.environment }} admin:reindex_members
ExecStart=/bin/sh -c "echo \"*Koala service \'Reindex fuzzy search index\' completed* _($(date +'%F %T %:z'))_\" | /usr/local/bin/slacktee --plain-text --username 'Koala service' --icon '::' --attachment 'good'"
