# {{ ansible_managed }}

[Unit]
Description=Reindex fuzzy search index for Constipated Koala
OnFailure=failure-notificator@%n.service

[Service]
Type=oneshot
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStartPre=/home/koala/.rbenv/shims/rails \
RAILS_ENV={{ koala_env.environment }} admin:reindex_members
ExecStart=/bin/sh -c "echo \"*Koala service \'Reindex fuzzy search index\'\
completed* _($(date +'%%F %%T %%:z'))_\" | /usr/local/bin/slacktee\
--plain-text --username 'Koala service' --icon '::' --attachment 'good'"
