# {{ ansible_managed }}

[Unit]
Description=Failure notification of %I

[Service]
Type=oneshot
User=ansible
Group=ansible
ExecStart=/bin/sh -c "echo \"@it-crowd-commissie *Koala service \'%I\' FAILED!*\
_($(date +'%%F %%T %%:z'))_\" | /usr/local/bin/slacktee --plain-text --username\
'Koala service' --icon ':exclamation:' --attachment 'danger'\
--channel 'alerts'"
