# {{ ansible_managed }}

[Unit]
Description=Start sidekiq
OnFailure=failure-notificator@%n.service
Requires=redis-server.service
After=syslog.target network.target redis-server.service

[Service]
Type=simple
User=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStart=/nix/var/nix/profiles/default/bin/nix-shell --command "sidekiq -e {{ koala_env.environment }} -q default -q mailers"

# if we crash, restart
RestartSec=1
Restart=on-failure

# This will default to "bundler" if we don't specify it
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
