# {{ ansible_managed }}

[Unit]
Description=Send output of unattended upgrades log to Slack

[Service]
Type=simple
User=root
Group=root
PrivateTmp=true
ExecStart=/bin/sh -c "grep \'Packages that will be upgraded:\' -B 5 -A 10 /var/log/unattended-upgrades/unattended-upgrades.log | grep -E \"^($(date --date \"-1 day\" +'%F')|$(date --date \"-2 day\" +'%F')).*$\" | /usr/local/bin/slacktee --username 'Unattended upgrades' --icon ':arrows_clockwise:' --attachment '#46c4ff'"
