[Unit]
Description=Run koala production service
Requires=mysql.service
Conflicts=webrick.service
After=network.target

[Service]
Type=forking
PIDFile=/var/www/koala.{{ canonical_hostname }}/tmp/pids/unicorn.pid
User=koala
Group=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStart=/home/koala/unicorn.sh

[Install]
WantedBy=multi-user.target
