[Unit]
Description=Run koala development server
Requires=mysql.service
After=network.target

[Service]
Type=simple
User=koala
Group=koala
WorkingDirectory=/var/www/koala.{{ canonical_hostname }}
ExecStart=/home/koala/webrick.sh

[Install]
WantedBy=multi-user.target
