; {{ ansible_managed }}
[pretix]
instance_name=Sticky Tickets
url=https://pretix.{{ canonical_hostname }}
currency=EUR
datadir=/var/www/pretix/data
password_reset=on
registration=off
long_sessions=on
ecb_rates=off

[locale]
default=en
timezone=Europe/Amsterdam

[database]
backend=mysql
name=pretix
user=pretix
host=/var/run/mysqld/mysqld.sock

[mail]
; See config file documentation for more options
from=tickets@{{ canonical_hostname }}
host=smtp.mailgun.org
port=465
user=tickets@{{ canonical_hostname }}
password={{ secret_pretix.email_password }}
ssl=on
admins={% if canonical_hostname == 'svsticky.nl' %}pretixspam@maartenberg.nl{% endif %}

[django]
secret={{ secret_pretix.django_secret }}
debug=off

[redis]
location=unix:///run/redis/redis.sock?db=0
sessions=true

[celery]
backend=redis+socket:///run/redis/redis.sock?virtual_host=1
broker=redis+socket:///run/redis/redis.sock?virtual_host=2
