# {{ ansible_managed }}

# Authenticates as Linux user with same name as DB user
DATABASE_USER=koala
DATABASE_SOCKET=/var/run/postgresql/.s.PGSQL.5432

SECRET_KEY_BASE={{ secret_koala.rails_secret }}
DEVISE_SECRET={{ secret_koala.devise_secret }}
{% if secret_koala.oidc_signing_key_location is defined %}OIDC_SIGNING_KEY={{ secret_koala.oidc_signing_key_location }}{% endif %}

# API tokens
MAILGUN_DOMAIN={{ canonical_hostname }}
MAILGUN_TOKEN={{ secret_mailgun_token }}
CHECKOUT_TOKEN={{ secret_koala.checkout_token }}
SENTRY_DSN={{ secret_koala.sentry_dsn | default('') }}

KOALA_DOMAIN=https://koala.{{ canonical_hostname }}

# Mollie
MOLLIE_DOMAIN=https://api.mollie.nl
MOLLIE_TOKEN={{ secret_mollie_token }}
MOLLIE_VERSION=v1

# Other
RAILS_ENV={{ koala_env.environment }}
RAILS_MAX_THREADS={{ koala.threads }}

# PXL
OAUTH_PROXY_UID={{ secret_oauth2_proxy.client_id }}
OAUTH_PROXY_SECRET={{ secret_oauth2_proxy.client_secret }}
OAUTH_PROXY_REDIRECTS={% for website in websites if
  (website.authenticated | default(false)) -%}
  https://{{ website.name }}/oauth2/callback;{% for
  alternative_name in website.alternative_names -%}
  https://{{ alternative_name }}/oauth2/callback;{% endfor %}{% endfor %}

# Mailchimp integration using sidekiq which requires redis
REDIS_URL=redis://127.0.0.1/3

MAILCHIMP_TOKEN={{secret_mailchimp.token}}
MAILCHIMP_SECRET={{secret_mailchimp.secret}}
MAILCHIMP_DATACENTER={{secret_mailchimp.datacenter}}
MAILCHIMP_LIST_ID={{secret_mailchimp.list_id}}
# Mailchimp interest ids
MAILCHIMP_ALV_ID={{secret_mailchimp.alv_id}}
MAILCHIMP_BUSINESS_ID={{secret_mailchimp.business_id}}
MAILCHIMP_MMM_ID={{secret_mailchimp.mmm_id}}
MAILCHIMP_LECTURES_ID={{secret_mailchimp.lectures_id}}
MAILCHIMP_TEACHER_ID={{secret_mailchimp.teacher_id}}
