# {{ ansible_managed }}

# Database credentials
DATABASE_USER=koala
DATABASE_PASSWORD={{ secret_mysql.koala.password }}
DATABASE_SOCKET=/var/run/mysqld/mysqld.sock

SECRET_KEY_BASE={{ secret_koala.rails_secret }}
DEVISE_SECRET={{ secret_koala.devise_secret }}

# API tokens
MAILGUN_DOMAIN=svsticky.nl
MAILGUN_TOKEN={{ secret_mailgun_token }}
CHECKOUT_TOKEN={{ secret_koala.checkout_token }}

# AWS credentials
AWS_ACCESS={{ secret_koala.aws_access_key }}
AWS_SECRET={{ secret_koala.aws_secret_key }}
AWS_REGION=eu-west-1
AWS_BUCKET={% if staging == 'true' %}staging-{% endif %}koala-images

# Mollie
MOLLIE_DOMAIN=https://api.mollie.nl
MOLLIE_TOKEN={{ secret_mollie_token }}
MOLLIE_VERSION=v1

# Other
RAILS_ENV={{ koala.environment }}
