# {{ ansible_managed }}

# Database credentials
DATABASE_USER=koala
DATABASE_PASSWORD={{ lookup('file', 'credentials/mysql/koala') }}
DATABASE_SOCKET=/var/run/mysqld/mysqld.sock

# Secrets
SECRET_KEY_BASE={{ lookup('password', 'credentials/koala/rails_secret chars=hexdigits length=128') }}
DEVISE_SECRET={{ lookup('password', 'credentials/koala/devise_secret chars=hexdigits length=128') }}

# API tokens
MAILGUN_DOMAIN=
MAILGUN_TOKEN=
CHECKOUT_TOKEN={{ lookup('password', 'credentials/koala/checkout_token chars=hexdigits length=128') }}

# AWS credentials
AWS_ACCESS=
AWS_SECRET=

# Mollie
MOLLIE_DOMAIN=https://api.mollie.nl
MOLLIE_TOKEN=
MOLLIE_VERSION=v1

# Other
RAILS_ENV={{ koala.environment }}
