#!/usr/bin/env bash
# {{ ansible_managed }}

##
## This script is used to start webrick, which serves Constipated Koala to any
## network interface.
##
## USAGE: sudo systemctl start koala
## This command executes this script from a systemd unit. You should not run
## this script manually.
##

# Unofficial Bash strict mode
set -eEfuo pipefail
IFS=$'\n\t'

bundle exec rails server -b 0.0.0.0
