---
- hosts: "all"
  remote_user: "ansible"
  become: true
  become_user: "root"
  become_method: "sudo"
  force_handlers: true

  handlers:
    - import_tasks: "handlers/main.yml"

  tasks:
    - name: "start process of managing general system settings"
      include_tasks: "tasks/system-settings.yml"
    - name: "start process of user management"
      include_tasks: "tasks/users.yml"
    - name: "start process of configuring authorization and authentication of users"
      include_tasks: "tasks/auth.yml"
    - name: "start process of general package management"
      include_tasks: "tasks/packages.yml"
    - name: "start process of installing digidecs"
      include_tasks: "tasks/digidecs.yml"
    - name: "start process of installing sodi website"
      include_tasks: "tasks/sodi.yml"
    - name: "start process of configuring firewall"
      include_tasks: "tasks/firewall.yml"
    - name: "start process of configuring our SQL databases"
      include_tasks: "tasks/database.yml"
    - name: "start process of installing phpmyadmin"
      include_tasks: "tasks/phpmyadmin.yml"
    - name: "start process of configuring the webserver"
      include_tasks: "tasks/nginx.yml"
    - name: "start process of installing koala"
      include_tasks: "tasks/koala.yml"
    - name: "start process of configuring oauth2_proxy"
      include_tasks: "tasks/oauth2-proxy.yml"
    - name: "start process of configuring backup processes"
      include_tasks: "tasks/backups.yml"
    - name: "start process of configuring monitoring services"
      include_tasks: "tasks/monitoring.yml"
    - name: "start process of configuring redis"
      include_tasks: "tasks/redis.yml"
    - name: "start process of configuring pretix"
      include_tasks: "tasks/pretix.yml"
    - name: "start process of configuring static-sticky"
      include_tasks: "tasks/static-sticky.yml"
    - name: "start process of configuring aas"
      include_tasks: "tasks/aas.yml"

  post_tasks:
    # Included the last, so any service that fail2ban is applied to, already
    # exists. Otherwise fail2ban would miss the log files it has to monitor.
    - name: "start process of configuring fail2ban"
      include_tasks: "tasks/fail2ban.yml"
