---
- hosts: "all"
  user: "ansible"
  become: true
  become_user: "root"
  become_method: "sudo"
  force_handlers: true
  vars_files:
    - "vars.yml"
    - "credentials/shared.yml"

  handlers:
    - name: "restart nginx"
      service:
        name: "nginx"
        state: "restarted"

    - name: "reload nginx"
      service:
        name: "nginx"
        state: "reloaded"

    - name: "restart ssh"
      service:
        name: "ssh"
        state: "restarted"

    - name: "restart fail2ban"
      service:
        name: "fail2ban"
        state: "restarted"

    - name: "systemctl daemon-reload"
      command: "systemctl daemon-reload"

    - name: "issue reboot command"
      shell: "sleep 2 && /sbin/reboot"
      async: 60
      poll: 0
      ignore_errors: true
      listen: "reboot server"

    - name: "wait for server to finish rebooting"
      wait_for:
        host: "{{ inventory_hostname }}"
        search_regex: "OpenSSH"
        port: 22
        delay: 20
      connection: "local"
      become: false
      listen: "reboot server"

  tasks:
    # secrets.yml should always be included the first, because it sets all the
    # environment-specific secrets that could be used by any other task.
    - include: "tasks/secrets.yml"
    - include: "tasks/users.yml"
    - include: "tasks/motd.yml"
    - include: "tasks/auth.yml"
    - include: "tasks/locale.yml"
    - include: "tasks/packages.yml"
    - include: "tasks/fail2ban.yml"
    - include: "tasks/nginx.yml"
    - include: "tasks/digidecs.yml"
    - include: "tasks/sodi.yml"
    - include: "tasks/firewall.yml"
    - include: "tasks/database.yml"
    - include: "tasks/phpmyadmin.yml"
    - include: "tasks/koala.yml"
    - include: "tasks/backups.yml"
    - include: "tasks/monitoring.yml"
