---
- hosts: development
  user: ansible
  become_user: root
  become_method: sudo
  become: true

  handlers:
    - name: "restart nginx"
      service:
        name: nginx
        state: restarted

    - name: "reload nginx"
      service:
        name: nginx
        state: reloaded

    - name: "restart fail2ban"
      service:
        name: fail2ban
        state: restarted

  tasks:
    - include: tasks/auth.yml
    - include: tasks/users.yml
    - include: tasks/upgrades.yml
    - include: tasks/fail2ban.yml
    - include: tasks/nginx.yml
    - include: tasks/letsencrypt.yml
    - include: tasks/firewall.yml
    - include: tasks/studystatus.yml

  vars:
    unattended_upgrades:
      security: True
      all: False

    admins:
      laurens:
        github: duijf
      tom:
        github: tomwassenberg
      arian:
        github: arianvp
      maarten:
        github: spasticVerbalizer
      yorick:
        github: yorickvanzweeden

    fail2ban:
      loglevel: 3
      ignoreip: 127.0.0.1/8
      bantime: 600
      maxretry: 3

      destemail: root@localhost
      mta: sendmail
      banaction: iptables-multiport

      services:
        - name: sshd
          port: ssh
          filter: sshd
          logpath: /var/log/auth.log

    # the upload limit for php-fpm and nginx in megabytes
    upload_limit: 15

    websites:
      - main_hostname: studytrip.dev.svsticky.nl
        user: laurens
        alternative_hostnames:
          - studiereis.dev.svsticky.nl

...
