---
canonical_hostname: "dev.svsticky.nl"

users:
  - name: "ansible"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "arianvp.github.pub"
        state: "present"
      - id: "duijf.github.pub"
        state: "present"
      - id: "spasticVerbalizer.github.pub"
        state: "present"
      - id: "tomwassenberg.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "present"

  - name: "arian"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "arianvp.github.pub"
        state: "present"

  - name: "laurens"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "duijf.github.pub"
        state: "present"

  - name: "maarten"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "spasticVerbalizer.github.pub"
        state: "present"

  - name: "tom"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "tomwassenberg.github.pub"
        state: "present"

  - name: "yorick"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "yorickvanzweeden.github.pub"
        state: "present"

  - name: "bestuur"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "PabloEnriqueIglesias.github.pub"
        state: "present"
      - id: "Sithias.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "present"
      - id: "RobinSikkens.github.pub"
        state: "present"

  - name: "commit"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "cdfa.github.pub"
        state: "present"
      - id: "DatDutchDude.github.pub"
        state: "present"
      - id: "emielvanrijn.github.pub"
        state: "present"
      - id: "GlennStewart125.github.pub"
        state: "present"
      - id: "agarwaemben.github.pub"
        state: "present"
      - id: "spasticVerbalizer.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "present"

  - name: "dgdarc"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys: []

  - name: "indievelopment"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "geert.manual.pub"
        state: "present"
      - id: "marc.manual.pub"
        state: "present"

  - name: "sodi"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "emielvanrijn.github.pub"
        state: "present"
      - id: "rcdewit.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "present"

  - name: "stichting"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys: []

  - name: "studytrip"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "rcdewit.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "present"

  - name: "symposium"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "DatDutchDude.github.pub"
        state: "present"
      - id: "emielvanrijn.github.pub"
        state: "present"

  - name: "wintersport"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys: []

unattended_upgrades:
  security: true
  all: false

fail2ban:
  loglevel: "WARNING"
  ignoreip: "127.0.0.1/8"
  bantime: 600
  maxretry: 3
  banaction: "iptables-multiport"

  services:
    - name: "sshd"
      port: "ssh"
      filter: "sshd"
      logpath: "/var/log/auth.log"

# the upload limit for php-fpm and nginx in megabytes
upload_limit: 15

# Defines the default of requesting staging certificates, or not.
# Can be disabled on a per-website basis by adding `real_certificate`
staging_certificates: true

websites:
# Domains that are commented are done so
# because of DNS, uncomment when in production

# - name: "dgdarc.nl"
#   user: "dgdarc"
#   database: true
#   alternative_names:
#     - "www.dgdarc.nl"
#     - "dgdarc.com"
#     - "www.dgdarc.com"

# - name: "indievelopment.nl"
#   user: "indievelopment"
#   database: true
#   alternative_names:
#     - "www.indievelopment.nl"
#     - "indiedevelopment.nl"
#     - "www.indiedevelopment.nl"

  - name: "digidecs.{{ canonical_hostname }}"
    user: "commit"
    alternative_names: []

  - name: "koala.{{ canonical_hostname }}"
    custom_config: true
    alternative_names:
      - "intro.{{ canonical_hostname }}"
      - "leden.{{ canonical_hostname }}"
      - "members.{{ canonical_hostname }}"

  - name: "metrics.{{ canonical_hostname }}"
    custom_config: true
    alternative_names:
      - "status.{{ canonical_hostname }}"

  - name: "phpmyadmin.{{ canonical_hostname }}"
    custom_config: true
    database: "phpmyadmin"
    alternative_names:
      - "pma.{{ canonical_hostname }}"

  - name: "radio.{{ canonical_hostname }}"
    user: "commit"
    alternative_names: []

  - name: "digidecs.{{ canonical_hostname }}"
    user: "commit"
    alternative_names:
      - "declaraties.{{ canonical_hostname }}"
      - "declareren.{{ canonical_hostname }}"

# - name: "savadaba.nl"
#   custom_config: true
#   alternative_names:
#     - "www.savadaba.nl"

# - name: "sodi.nl"
#   user: "sodi"
#   database: "sodi"
#   alternative_names:
#     - "www.sodi.nl"

# - name: "stichtingsticky.nl"
#   user: "stichting"
#   alternative_names:
#     - "www.stichtingsticky.nl"

  - name: "studytrip.{{ canonical_hostname }}"
    user: "studytrip"
    database: "studytrip"
    alternative_names:
      - "studiereis.{{ canonical_hostname }}"

  - name: "{{ canonical_hostname }}"
    user: "commit"
    database: "svsticky"
    custom_config: true
    alternative_names:
      - "www.{{ canonical_hostname }}"
#     - "stickyutrecht.nl"
#     - "www.stickyutrecht.nl"
#     - "studieverenigingsticky.nl"
#     - "www.studieverenigingsticky.nl"

  - name: "symposium.{{ canonical_hostname }}"
    user: "symposium"
    database: "symposium"
    alternative_names: []

  - name: "wintersport.{{ canonical_hostname }}"
    user: "wintersport"
    alternative_names: []

koala:
  environment: "production"
  server: "unicorn" # or webrick
  git_ref: "development" # Should be master, when in production
  ruby_version: "2.3.0"

slacktee:
  revision: "2dd488b93fa13d305d27c1c820641e600845710e"
  checksum: "sha256:b59522b40de167e5c88ddf09f5d02560759902fc503e0bd3cea5c1fa45b780df"

# Secrets
secret_mailgun_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33346137623461336632333635643836323761616463356661666238616230653565346665633064
  3935336366323262373139646534363332343237663035300a386665333238346162313765336130
  36306165323763316133303939643731623931353937326663316331386164303138396662363739
  3037643736666639640a636163663864633735666139356639613131363739393431346361303030
  32636338636261326238643235396236303538353337613733623430653533396537643062316436
  6261653332633332333837363037663234383063666533613432
