---
canonical_hostname: "{{ inventory_hostname }}"
server_hostname: "sadserver"

secrets_environment_directory:
  "{% if staging == 'true' %}staging{% else %}production{% endif %}"

# This is also used for the root user, but the "$" at the end is replaced by a
# "#" through a regex in tasks/users.yml.
bash_prompt:
  "export PS1='\\n\\e[31m\\e[1m{% if staging == 'true' %}STAGING{% else %}!! \
  PRODUCTION !!{% endif %}\\e[0m \\e[33m\\e[1m`whoami`@`hostname --long`\
  \\e[0m:`pwd`\\n$ '"

tmp_dir: "/tmp"

# When editing keys, be sure to read ../docs/updating-ssh-keys.md first!
users:
  - name: "ansible"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "arianvp.github.pub"
        state: "present"
      - id: "duijf.github.pub"
        state: "present"
      - id: "maartenberg.github.pub"
        state: "present"
      - id: "tomwassenberg.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "absent"

  - name: "arian"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "arianvp.github.pub"
        state: "present"

  - name: "emiel"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "emielvanrijn.github.pub"
        state: "present"

  - name: "laurens"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "duijf.github.pub"
        state: "present"

  - name: "maarten"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "maartenberg.github.pub"
        state: "present"

  - name: "tom"
    admin: true
    home_prefix: "/home"
    state: "present"
    keys:
      - id: "tomwassenberg.github.pub"
        state: "present"

  - name: "yorick"
    admin: true
    home_prefix: "/home"
    state: "absent"
    keys:
      - id: "yorickvanzweeden.github.pub"
        state: "absent"

  - name: "bestuur"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "PabloEnriqueIglesias.github.pub"
        state: "absent"
      - id: "Sithias.github.pub"
        state: "absent"
      - id: "yorickvanzweeden.github.pub"
        state: "absent"
      - id: "RobinSikkens.github.pub"
        state: "absent"
      - id: "emielvanrijn.github.pub"
        state: "present"

  - name: "commit"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "cdfa.github.pub"
        state: "present"
      - id: "emielvanrijn.github.pub"
        state: "present"
      - id: "GlennStewart125.github.pub"
        state: "present"
      - id: "agarwaemben.github.pub"
        state: "present"
      - id: "maartenberg.github.pub"
        state: "present"
      - id: "yorickvanzweeden.github.pub"
        state: "absent"
      #- id: "raatmarien.github.pub" # Currently no keys
        #state: "present"
      - id: "ebilkill.github.pub"
        state: "present"

  - name: "dgdarc"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys: []

  - name: "indievelopment"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "RCdeWit.github.pub"
        state: "present"

  - name: "stichting"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "RCdeWit.github.pub"
        state: "present"

  - name: "studytrip"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "yorickvanzweeden.github.pub"
        state: "absent"
      - id: "Rogions.github.pub"
        state: "present"

  - name: "symposium"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys:
      - id: "emielvanrijn.github.pub"
        state: "present"
      - id: "duijf.github.pub"
        state: "present"

  - name: "wintersport"
    admin: false
    home_prefix: "/var/www"
    state: "present"
    keys: []

unattended_upgrades:
  security: true
  all: true

fail2ban:
  loglevel: "WARNING"
  ignoreip: "127.0.0.1/8"
  bantime: 600
  maxretry: 3
  banaction: "iptables-multiport"

  services:
    - name: "sshd"
      port: "ssh"
      filter: "sshd"
      logpath: "/var/log/auth.log"

# the upload limit for php-fpm and nginx in megabytes
upload_limit: 30

# Defines our websites. Important to note is that the "name" of a website should
# always be a subdomain of the canonical hostname (using the
# "canonical_hostname" variable). This has to do with the current state of our
# DNS zones, and ensures that TLS certificates are set up correctly in the
# staging environment. This could be improved perhaps.
websites:
  - name: "dgdarc.{{ canonical_hostname }}"
    user: "dgdarc"
    database: "dgdarc"
    alternative_names:
      - "dgdarc.nl"
      - "www.dgdarc.nl"
      - "dgdarc.com"
      - "www.dgdarc.com"

  - name: "digidecs.{{ canonical_hostname }}"
    user: "commit"
    alternative_names:
      - "declaraties.{{ canonical_hostname }}"
      - "declareren.{{ canonical_hostname }}"

  - name: "indievelopment.{{ canonical_hostname }}"
    user: "indievelopment"
    database: "indievelopment"
    alternative_names:
      - "indievelopment.nl"
      - "www.indievelopment.nl"
      - "indiedevelopment.nl"
      - "www.indiedevelopment.nl"

  - name: "koala.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "intro.{{ canonical_hostname }}"
      - "leden.{{ canonical_hostname }}"
      - "members.{{ canonical_hostname }}"

  - name: "metrics.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "status.{{ canonical_hostname }}"

  - name: "phpmyadmin.{{ canonical_hostname }}"
    custom_config: true
    database: "phpmyadmin"
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "pma.{{ canonical_hostname }}"

  - name: "radio.{{ canonical_hostname }}"
    user: "commit"
    alternative_names: []

  - name: "savadaba.{{ canonical_hostname }}"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "savadaba.nl"
      - "www.savadaba.nl"

  - name: "sodi.{{ canonical_hostname }}"
    alternative_names:
      - "sodi.nl"
      - "www.sodi.nl"

  - name: "stichting.{{ canonical_hostname }}"
    user: "stichting"
    alternative_names:
      - "stichtingsticky.nl"
      - "www.stichtingsticky.nl"

  - name: "studytrip.{{ canonical_hostname }}"
    user: "studytrip"
    database: "studytrip"
    alternative_names:
      - "studiereis.{{ canonical_hostname }}"

  - name: "{{ canonical_hostname }}"
    user: "commit"
    database: "svsticky"
    custom_config: true
    # Hostnames have to be set in custom nginx config as well!
    alternative_names:
      - "www.{{ canonical_hostname }}"
      - "stickyutrecht.nl"
      - "www.stickyutrecht.nl"
      - "studieverenigingsticky.nl"
      - "www.studieverenigingsticky.nl"

  - name: "symposium.{{ canonical_hostname }}"
    user: "symposium"
    alternative_names:
      - "idata.{{ canonical_hostname }}"

  - name: "wintersport.{{ canonical_hostname }}"
    user: "wintersport"
    alternative_names: []

  - name: "execut.{{ canonical_hostname }}"
    user: "symposium"
    alternative_names:
      - "execut.nl"
      - "www.execut.nl"

slacktee:
  repo: "https://github.com/course-hero/slacktee.git"
  install_path: "/usr/local/src/slacktee"

koala:
  environment:
    "{% if staging == 'true' %}staging{% else %}production{% endif %}"
  server: "unicorn" # or webrick
  # Change git-tag here to deploy new release in production
  git_ref: "{% if staging == 'true' %}development{% else %}v1.6.10{% endif %}"
  ruby_version: "2.4.1"
  threads: 8
  dependencies:
    - repo: "rbenv"
      install_path: "~/.rbenv"
    - repo: "ruby-build"
      install_path: "~/.rbenv/plugins/ruby-build"
    - repo: "rbenv-vars"
      install_path: "~/.rbenv/plugins/rbenv-vars"
