# {{ ansible_managed }}

[Unit]
Description=Run the aas webhook listener using gunicorn
After=network.target
OnFailure=failure-notificator@%n.service

[Service]
Type=simple
User=aas
Group=www-data
Restart=always

# This is also where the config.json is, the home folder of aas
WorkingDirectory=~
RuntimeDirectory=aas # Run under nix folders, needed for the --bind flag below

ExecStart={{ aas_env.nix_pin }}/bin/gunicorn aas:aas \
                                      --capture-output --log-level=debug \
                                      --workers 4 \
                                      --bind unix:/run/aas/gunicorn.sock

[Install]
WantedBy=multi-user.target
