{
	"webhookHandlers": {
		"runSystemd": [
			{
				"serviceName": "deploy-static-sticky.service",
				"endpoint": "/webhook/github",
				"pre-sharedKey": "{{ secret_aas.github_secret }}"
			}
		]
	}
}
