# {{ ansible_managed }}

aas ALL=(root) NOPASSWD: /usr/bin/systemd-run --no-block --property After=deploy-static-sticky.service -- systemctl start deploy-static-sticky.service, \
                         /usr/bin/systemd-run --no-block --property After=deploy-intro-website.service -- systemctl start deploy-intro-website.service

