# {{ ansible_managed }}

[Unit]
Description=Backup of the contents of all websites to AWS S3
OnFailure=failure-notificator@%n.service

[Service]
Type=oneshot
User=root
Group=root
PrivateTmp=true
ExecStart=/usr/local/bin/backup-to-s3.sh websites
