# {{ ansible_managed }}

[Unit]
Description=Weekly backup of the contents of all websites to AWS S3

[Timer]
OnCalendar=Sat *-*-* 01:00:00 UTC
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
