# Ansible managed

services:

  outline:
    image: outlinewiki/outline:{{ outline_config.version }}
    env_file: .env
    restart: on-failure:3
    network_mode: host # TODO replace this
    healthcheck:
      test: |
        wget -qO- http://localhost:${PORT}/_health | grep -q OK \
        && wget -qO- https://hc-ping.com/{{ secret_healthchecks_io.ping_key }}/outline \
        || exit 1
      interval: 5m
      start_period: 30s
      start_interval: 10s
    volumes:
      - storage-data:{{ outline_config.volume_path }}
        #    depends_on:
        #      - postgres
        #      - redis

        #  redis:
        #    image: redis
        #    env_file: ./docker.env
        #    ports:
        #      - "6379:6379"
        #    volumes:
        #      - ./redis.conf:/redis.conf
        #    command: ["redis-server", "/redis.conf"]
        #    healthcheck:
        #      test: ["CMD", "redis-cli", "ping"]
        #      interval: 10s
        #      timeout: 30s
        #      retries: 3

      #  postgres:
      #    image: postgres
      #    env_file: ./docker.env
      #    ports:
      #      - "5432:5432"
      #    volumes:
      #      - database-data:/var/lib/postgresql/data
      #    healthcheck:
      #      test: ["CMD", "pg_isready", "-d", "outline", "-U", "user"]
      #      interval: 30s
      #      timeout: 20s
      #      retries: 3
      #    environment:
      #      POSTGRES_USER: 'user'
      #      POSTGRES_PASSWORD: 'pass'
      #      POSTGRES_DB: 'outline'

volumes:
  storage-data:
  # database-data:
