# {{ ansible_managed }}

##
## nginx default vhost
##
## The purpose of this host is to redirect all HTTP requests to HTTPS.
## It is the only vhost that listens on HTTP on this server, as all other hosts
## just listen on HTTPS.
##
## Handling Let's Encrypt requests is not necessary here, as this is handled
## through the nginx plugin for certbot.
##

server {
    listen       80;
    listen       [::]:80;
    server_name  _;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    location / {
        return 301 https://$host$request_uri;
    }
}
