# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name ~^(www\.)?(stickyutrecht|studieverenigingsticky)\.nl$
    ~^www\.{{ canonical_hostname }}$;

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/chain.pem;

  include includes/security-headers.conf;

  return 301 https://{{ canonical_hostname }}$request_uri;
}

server {
  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;

  server_name {{ canonical_hostname }};

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ canonical_hostname }}/chain.pem;

  root /var/www/{{ canonical_hostname }};
  index index.html index.htm;

  include includes/security-headers.conf;

  location ~* /.git/ {
    deny all;
  }

  location ~* /wp-content/ {
    return 302 https://old.svsticky.nl$request_uri;
  }

  # QR-Code naar http://stickyutrecht.nl/arduino staat op de Stickyduino's
  location = /arduino {
    return 301 http://herlaar.net/b3it/;
  }

  location ~* /(boeken|boekverkoop) {
    return 301 https://studystore.nl/sticky;
  }

  location ~* /declaraties {
    return 301 https://digidecs.{{ canonical_hostname }}/;
   }

  location ~* /(fb|facebook) {
    return 301 https://www.facebook.com/groups/814759978565158/;
  }

  location ~* /panda {
    return 301 https://www.youtube.com/watch?v=AC3Ejf7vPEY;
  }

  location ~* /interesselijst {
    return 301 https://docs.google.com/forms/d/e/1FAIpQLSdBPZtXKmqW8Pbo3M7cDyvxu0O-JInHxLF4Q3jXWrKnzAX8pA/viewform;
  }

  location /logs/ {
    # Construct correct request URI for systemd-journald-gateway, while only
    # allowing alphanumerics (to prevent exposing the other endpoints and
    # parameters that systemd-journald-gateway supports
    rewrite "^/logs/([\d\w]{32})$" /entries?_SYSTEMD_INVOCATION_ID=$1 break;
    return 403;
    proxy_pass http://localhost:19531;
  }

  location / {
    try_files $uri $uri/ =404;
  }
}
