# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name ~^(www\.)?(stickyutrecht|studieverenigingsticky)\.nl$;

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;

  include includes/security-headers.conf;

  return 301 https://{{ canonical_hostname }}$request_uri;
}

server {
  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;

  server_name ~^(www\.)?svsticky\.nl$;

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;

  root /var/www/commit/{{ canonical_hostname }};
  index index.php index.html index.htm;

  include includes/security-headers.conf;
  include includes/php-parameters.conf;

  location ~* /.git/ {
    deny all;
  }

  # QR-Code naar http://stickyutrecht.nl/arduino staat op de Stickyduino's
  location = /arduino {
    return 301 http://herlaar.net/b3it/;
  }

  location ~* /(boeken|boekverkoop) {
    return 301 https://sticky.itdepartment.nl/;
  }

  location ~* /declaraties {
    return 301 https://digidecs.{{ canonical_hostname }}/;
   }

  location ~* /panda {
    return 301 https://www.youtube.com/watch?v=AC3Ejf7vPEY;
  }

  location / {
    try_files $uri $uri/ /index.php?q=$uri&$args;
  }
}
