# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name ~^(www\.)?stickyutrecht\.nl$;

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;

  return 301 https://{{ canonical_hostname }}$request_uri;
}

server {
  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;

  server_name ~^(www\.)?svsticky\.nl$;

  ssl_certificate      /etc/letsencrypt/live/{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ canonical_hostname }}/privkey.pem;

  root /var/www/bestuur/svsticky.nl;
  index index.php index.html index.htm;

  include includes/security-headers.conf;
  include includes/php-parameters.conf;

  # QR-Code naar http://stickyutrecht.nl/arduino staat op de Stickyduino's
  location = /arduino {
    return 301 http://herlaar.net/b3it/;
  }

  location ~* /(boeken|boekverkoop) {
    return 301 http://sticky.studieboekenwebshop.nl/;
  }

  location ~* /declaraties {
    return 301 https://digidecs.{{ canonical_hostname }}/;
   }

  location ~* /fluxx {
    return 301 https://docs.google.com/forms/d/e/1FAIpQLScmP2HYi9M4-vJTrh9BEYdHheWDJ3g2ZqYTbDfWi-quzVx_pg/viewform;
  }

  location ~* /panda {
    return 301 https://www.youtube.com/watch?v=AC3Ejf7vPEY;
  }
}
