# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name
    {{ item.name }}{% for hostname in item.alternative_names %}

    {{ hostname }}{% endfor %};

  ssl_certificate      /etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ item.name }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ item.name }}/chain.pem;

  root /var/www/{% if item.user is defined %}{{ item.user }}/{% endif %}{{
item.name }};

  index {{ 'index.php' if (item.php_enabled | default(false)) else '' }}
    index.html index.htm;

  include includes/security-headers.conf;
{{ '  include includes/php-parameters.conf;' if (item.php_enabled |
default(false)) else '' }}

  {% if item.extra_includes is defined -%}
  {% for include in item.extra_includes %}include includes/{{ include }}.conf;
  {% endfor %}
  {% endif %}

  {% if item.custom_404 is defined and item.custom_404 and item.user is defined -%}
  error_page 404 /404.html;
  location = /404.html {
    root /var/www/{{ item.user }}/custom-errors;
    internal;
  }

  {% endif -%}

  location ~* /.git/ {
    deny all;
  }

  location / {
    try_files $uri $uri/{{ ' /index.php?q=$uri&$args' if (item.php_enabled |
default(false)) else '' }} =404;
  }
}
