# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name wintersport.{{ canonical_hostname }};

  ssl_certificate      /etc/letsencrypt/live/wintersport.{{ canonical_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/wintersport.{{ canonical_hostname }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/wintersport.{{ canonical_hostname }}/chain.pem;

  include includes/security-headers.conf;

  return 301 https://docs.google.com/presentation/d/1j1j3G3q3QyrSnk9Y6dFaN4aijkZv1ZvUVQOPpZYCN7U/edit#slide=id.p;
}
