# {{ ansible_managed }}

crazy88bot ALL=(root) NOPASSWD: /bin/systemctl start crazy88bot.service
crazy88bot ALL=(root) NOPASSWD: /bin/systemctl stop crazy88bot.service
crazy88bot ALL=(root) NOPASSWD: /bin/systemctl restart crazy88bot.service
