#!/usr/bin/env bash
# {{ ansible_managed }}

# Unofficial Bash Strict Mode
set -efuo pipefail
IFS=$'\n\t'

cd stickypedia.{{ canonical_hostname }}
/var/www/stickypedia/.gem/ruby/2.5.0/gems/gollum-4.1.4/bin/gollum --ref {{ stickypedia.git_ref }} --config="/var/www/stickypedia/config.rb" --host localhost
