---
- name: "clone fancy-index repo"
  ansible.builtin.git:
    repo: "https://github.com/svsticky/fancy-index.git"
    dest: "{{ public_files_config.fancy_index_directory }}"
  diff: false

- name: "install and compile fancy-index"
  ansible.builtin.shell: |
    source {{ nvm.script }}
    nvm use
    ./build.sh
  args:
    chdir: "{{ public_files_config.fancy_index_directory }}"
    executable: "/bin/bash"

- name: "create site root"
  ansible.builtin.file:
    path: "/var/www/{{ item }}.{{ canonical_hostname }}"
    owner: "www-data"
    group: "adm"
    mode: "2775"
    state: "directory"
  loop:
    - files
    - public

- name: "create theme dir"
  ansible.builtin.file:
    path: "/var/www/{{ item }}.{{ canonical_hostname }}/theme"
    owner: "www-data"
    group: "www-data"
    state: "directory"
  loop:
    - files
    - public

- name: "copy Fancy Index theme"
  ansible.builtin.copy:
    src: "{{ public_files_config.fancy_index_directory }}/theme"
    remote_src: true
    dest: "/var/www/{{ item }}.{{ canonical_hostname }}"
    owner: "www-data"
    group: "www-data"
  loop:
    - files
    - public

- name: "copy NGiNX site config Fancy Index"
  ansible.builtin.template:
    src: "{{ item }}.conf.j2"
    dest: "/etc/nginx/sites-available/{{ item }}.{{ canonical_hostname }}.conf"
  notify: "reload nginx"
  loop:
    - files
    - public

- name: "enable NGiNX site config Fancy Index"
  ansible.builtin.file:
    src: "/etc/nginx/sites-available/{{ filename }}"
    path: "/etc/nginx/sites-enabled/{{ filename }}"
    state: "link"
  vars:
    filename: "{{ item }}.{{ canonical_hostname }}.conf"
  notify: "reload nginx"
  loop:
    - files
    - public
