---
name: "Lint"
on: push
jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v5"

      - name: "install Nix"
        uses: "cachix/install-nix-action@v31"

      - name: "Cache Nix packages"
        uses: cachix/cachix-action@v16
        with:
          name: svsticky-sadserver
          authToken: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: "Lint our Python files"
        run: (cd ansible; nix-shell --run "black --check deploy.py plugins/vars/bw_plugin.py scripts/bitwarden.py")

      - name: "Typecheck our Python files"
        run: (cd ansible; nix-shell --run "mypy deploy.py --strict")

      - name: "Lint our ansible files"
        run: (cd ansible; nix-shell --run "ansible-lint")
